<template id="form-input-template">
    <style>
        :host {
            display: flex;
            flex: 1 1 100%;
            min-width: 0;
        }

        .omg{}

        input {
            flex: 1 1 100%;
            min-width: 0;
            font-size: inherit;
            color: var(--light);
            background-color: var(--dark);
            padding: 0.25rem 0.5rem;
            line-height: 1.5;
            border: 2px solid oklch(from var(--dark) calc(l + 0.2) c h);
            border-radius: 0.25rem;
        }

        input::after {
            content: "img"
        }

        input:focus {
            outline: none;
            border: 2px solid oklch(from var(--dark) calc(l + 0.3) c h);
            background-color: oklch(from var(--dark) calc(l + 0.08) c h);
        }

        input::placeholder {
            color: oklch(from var(--med) calc(l - 0.08) c h);
        }
    </style>

    <label for="form-input"></label>
    <input id="form-input" part="input-field" name="" type="" placeholder="" value="" />
</template>
