<template id="hint-button-template">
    <style>
        :host {
            width: 2.5rem;
            height: 2.5rem;
        }

        /*
        [popover="hint"] {
            inset: unset;
            position: absolute;
            top: calc(anchor(bottom) + 5px);
            justify-self: anchor-center;
            margin: 0;
            padding: 8px;
            border-radius: 6px;
            background: #271717;
            color: whitesmoke;
            box-shadow: 1px 1px 3px #999;
            border: none;
        }
        */
    </style>

    <slot name="button"></slot>
    <slot name="hint"></slot>
</template>
