{{range $i, $v := .}}
<workout-movement
    id="{{$v.ID}}"
    index="{{$i}}"
    workout-id="{{$v.WorkoutID}}"
    exercise-id="{{$v.ExerciseID}}"
    sets="{{$v.Sets}}"
    reps="{{$v.Reps}}"
    weight="{{$v.Weight}}"
></workout-movement>
{{end}}

<script>
    import { Delete, Patch } from '/static/js/request.js'
    import { swapContent } from '/static/js/swap.js'

    const workoutMovements = {}

    const updateWorkout = (e) => {
        const {movement: w, callback} = e.detail;
        workoutMovements[w["id"]] = w;

        Patch(`/api/workouts/${w["workoutId"]}`, w["id"], w).then((res) => {
            //stop a "saving" indicator here
            callback()

            //swapContent(`/api/partials/workouts/${w["workoutId"]}`, `workout-${w["workoutId"]}`)
        }).catch((err) => {
            console.log("error patching movement", err);
        })
    }

    const deleteMovement = (e) => {
        const id = e.detail.id
        const workoutId = e.detail.workoutId
        const url = `/api/workouts/${workoutId}/${id}`

        Delete(url).then(() => {
            swapContent(`/api/partials/workouts/${workoutId}`, `workout-${workoutId}`)
        }).catch((err) => {
            console.log("error deleting movement: ", err)
        })
    }

    document.addEventListener("update-workout", updateWorkout);
    document.addEventListener("delete-movement", deleteMovement);
</script>

