<div>
    <form id="add-workout-form"></form>

    <div class="workout-view mt-4">
        <ul>
            {{range .}}
            <li>
                <div class="title">
                    <h3 class="ms-2">Workout {{.ID}} {{.Date.Format "Jan 02, 2006 15:04 PM"}}</h3>
                    <div class="me-2">
                        <button type="button" data-add-movement-id="{{.ID}}" data-workout-date="{{.Date}}">
                            Add Exercise
                        </button>
                        <button type="button" class="btn-delete" data-delete-workout-id="{{.ID}}">
                            Delete Workout
                        </button>
                    </div>
                </div>
                <partial-loader
                    target-id="workout-{{.ID}}"
                    endpoint="/api/partials/workouts/{{.ID}}">
                </partial-loader>
                <div id="workout-{{.ID}}" style="display: flex; flex-direction: column;"></div>
            </li>
            {{end}}
        </ul>
    </div>
</div>

<script>
    import { Patch, Delete } from "/static/js/request.js"
    import { swapContent, swapDirect } from "/static/js/swap.js"

    //@handle:data-add-movement-id:data-workout-date
    export const addExerciseMovement = (e) => {
        const id = e.addMovementId

        Patch("/api/workouts/add/movement", id, null)
            .then((res) => {
                swapDirect(`workout-${id}`, res)
            })
            .catch((err) => {
                console.log("patch err: ", err)
            })
    }

    //@handle:data-delete-workout-id
    export const deleteWorkout = (id) => {
        Delete(`/api/workouts/${id}`, id, null)
            .then((res) => {
                swapContent("/api/partials/workouts", "workout-list-container")
            })
            .catch((err) => {
                console.log("delte err: ", err)
            })
    }
</script>
