{{range .}}
<workout-movement
    id="{{.ID}}"
    workout-id="{{.WorkoutID}}"
    exercise-id="{{.ExerciseID}}"
    sets="{{.Sets}}"
    reps="{{.Reps}}"
></workout-movement>
{{end}}

<script>
    import { Delete, Patch } from '/static/js/request.js'
    import { swapContent } from '/static/js/swap.js'

    const workoutMovements = {}

    const updateWorkout = (e) => {
        const w = e.detail;
        workoutMovements[w["id"]] = w;

        Patch(`/api/workouts/${w["workoutId"]}`, w["id"], w).then((res) => {
            //swapContent(
            //"/api/partials/workouts",
            //"workout-list-container",
            //() => swapContent("/api/partials/workouts/last", "selected-workout"))
            swapContent(`/api/partials/workouts/${w["workoutId"]}`, `workout-${w["workoutId"]}`)
        }).catch((err) => {
            console.log("error patching movement", err);
        })
    }

    const deleteMovement = (e) => {
        const id = e.detail.id
        const workoutId = e.detail.workoutId
        const url = `/api/workouts/delete/movement/${id}`

        Delete(url).then(() => {
            swapContent("/api/partials/workouts/last", `workout-${workoutId}`)
        }).catch((err) => {
            console.log("error deleting movement: ", err)
        })
    }

    document.addEventListener("update-workout", updateWorkout);
    document.addEventListener("delete-movement", deleteMovement);
</script>

