<div>
    <form id="add-workout-form"></form>

    <div class="workout-view">
        <ul>
            {{range .}}
            <li>
                <section>
                    <div class="title">
                        <div class="title-group">
                            <div class="workout-icon">
                                <button
                                    id="collapse-movement-{{.ID}}"
                                    type="button"
                                    class="btn-collapse me-2"
                                    data-toggle-workout="{{.ID}}"
                                >
                                    <svg-icon icon="visible"></svg-icon>
                                </button>
                            </div>
                            <h3 class="ms-2">{{.Date.Format "Jan 02, 2006 15:04 PM"}}</h3>
                        </div>
                        <div class="workout-buttons">
                            <button
                                id="add-movement-{{.ID}}"
                                type="button"
                                class="btn-add me-2"
                                data-add-movement-id="{{.ID}}"
                                data-workout-date="{{.Date}}"
                            >
                                <svg-icon icon="add"></svg-icon>
                            </button>
                            <button
                                id="delete-movement-{{.ID}}"
                                type="button"
                                class="btn-delete"
                                data-delete-workout-id="{{.ID}}"
                            >
                                <svg-icon icon="remove"></svg-icon>
                            </button>
                        </div>
                    </div>
                    <partial-loader
                        target-id="workout-{{.ID}}"
                        endpoint="/api/partials/workouts/{{.ID}}"
                    >
                    </partial-loader>
                    <div id="collapse-{{.ID}}" class="collapse-wrapper show">
                        <div
                            id="workout-{{.ID}}"
                            class="collapse-content"
                            style="display: flex; flex-direction: column; gap: 0.5rem;"
                        ></div>
                    </div>
                </section>
            </li>
            {{end}}
        </ul>
    </div>
</div>

<script>
    import { Patch, Delete } from "/static/js/request.js";
    import { swapContent, swapDirect } from "/static/js/swap.js";

    //@handle:data-add-movement-id:data-workout-date
    export const addExerciseMovement = (e) => {
        const id = e.addMovementId;

        Patch("/api/workouts/add/movement", id, null)
            .then((res) => {
                swapDirect(`workout-${id}`, res);
            })
            .catch((err) => {
                console.log("patch err: ", err);
            });
    };

    //@handle:data-delete-workout-id
    export const deleteWorkout = (id) => {
        Delete(`/api/workouts/${id}`, id, null)
            .then((res) => {
                swapContent("/api/partials/workouts", "workout-list-container");
            })
            .catch((err) => {
                console.log("delte err: ", err);
            });
    };
</script>
