<div>
    <form id="add-workout-form"></form>

    <div class="workout-view">
        <ul>
            {{range .}}
            <li>
                <section>
                    <div class="title">
                        <div class="title-group">
                            <div class="workout-icon">
                                <hint-button class="me-2">
                                    <button
                                        slot="button"
                                        id="collapse-movement-{{.ID}}"
                                        type="button"
                                        class="btn-add"
                                        style="anchor-name: --cm-{{.ID}};"
                                        data-toggle-workout="{{.ID}}"
                                    >
                                        <svg-icon icon="visible"></svg-icon>
                                    </button>
                                    <div slot="hint">
                                        <div
                                            id="collapse-hint"
                                            popover="hint"
                                            style="position-anchor: --cm-{{.ID}};"
                                        >
                                            Hide Workout
                                        </div>
                                    </div>
                                </hint-button>
                            </div>
                            <h3 class="ms-2">
                                {{.Date.Format "Jan 02, 2006"}}<span class="text-med"
                                    >&nbsp;&nbsp;{{.Date.Format "03:04 PM"}}</span
                                >
                            </h3>
                        </div>
                        <div class="workout-buttons">
                            <hint-button class="me-2">
                                <button
                                    slot="button"
                                    id="add-movement-{{.ID}}"
                                    type="button"
                                    class="btn-add"
                                    style="anchor-name: --aw-{{.ID}};"
                                    data-add-movement-id="{{.ID}}"
                                >
                                    <svg-icon icon="add"></svg-icon>
                                </button>
                                <div slot="hint">
                                    <div
                                        id="collapse-hint"
                                        popover="hint"
                                        style="position-anchor: --aw-{{.ID}};"
                                    >
                                        Add Exercise
                                    </div>
                                </div>
                            </hint-button>
                            <hint-button>
                                <button
                                    slot="button"
                                    id="delete-movement-{{.ID}}"
                                    type="button"
                                    class="btn-delete"
                                    style="anchor-name: --dw-{{.ID}};"
                                    data-delete-workout-id="{{.ID}}"
                                >
                                    <svg-icon icon="remove"></svg-icon>
                                </button>
                                <div slot="hint">
                                    <div
                                        id="collapse-hint"
                                        popover="hint"
                                        style="position-anchor: --dw-{{.ID}};"
                                    >
                                        Delete Workout
                                    </div>
                                </div>
                            </hint-button>
                        </div>
                    </div>
                    <partial-loader
                        target-id="workout-{{.ID}}"
                        endpoint="/api/partials/workouts/{{.ID}}"
                    >
                    </partial-loader>
                    <div id="collapse-{{.ID}}" class="collapse-wrapper show">
                        <div
                            id="workout-{{.ID}}"
                            class="collapse-content"
                            style="display: flex; flex-direction: column; gap: 0.5rem"
                        ></div>
                    </div>
                </section>
            </li>
            {{end}}
        </ul>
    </div>
</div>

<script>
    import { Patch, Delete } from "/static/js/request.js";
    import { swapContent, swapDirect } from "/static/js/swap.js";

    //@handle:data-add-movement-id
    export const addExerciseMovement = (id) => {
        //const id = e.addMovementId;

        Patch("/api/workouts/add/movement", id, null)
            .then((res) => {
                swapDirect(`workout-${id}`, res);
            })
            .catch((err) => {
                console.log("patch err: ", err);
            });
    };

    //@handle:data-delete-workout-id
    export const deleteWorkout = (id) => {
        Delete(`/api/workouts/${id}`, id, null)
            .then((res) => {
                swapContent("/api/partials/workouts", "workout-list-container");
            })
            .catch((err) => {
                console.log("delte err: ", err);
            });
    };
</script>
