<!-- prettier-ignore-start -->
{{ template "head.html" .}}
{{ template "nav.html" .}}
<!-- prettier-ignore-end -->

<div id="exercise-page" class="layout page-exercises">
    <h1>Add New Exercise</h1>

    <section class="widget-section">
        <form id="add-exercise-form" style="
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr min-content;
            align-items: center;
            justify-content: end;">
                <span class="me-3">
                <form-input
                    name="name"
                    style="width: 100%;"
                    placeholder="Add An Exercise..."
                    value=""></form-input>
                </span>
                <button type="submit" class="btn-add ms-3" style="width: 2.25rem; height: 2.25rem;">
                    <svg-icon icon="add"></svg-icon>
                </button>
        </form>
        <div id="exercise-list-container"></div>
    </section>

</div>

<!-- prettier-ignore-start -->
{{ template "foot.html" .}}
{{ template "form-input.html" }}
{{ template "svg-icon.html" }}
<!-- prettier-ignore-end -->

<script>
    import { PostForm } from '/static/js/request.js'
    import { swapContent } from '/static/js/swap.js'

    const addExerciseForm = document.getElementById("add-exercise-form")

    const addExercise = (e) => {
        e.preventDefault()
        const addExerciseForm = document.getElementById("add-exercise-form")
        PostForm("/api/exercises", addExerciseForm).then((res) => {
            // update list
            swapContent("/api/partials/exercises", "exercise-list-container")

            // tell workout movements to update their exercise list
            const event = new CustomEvent("exercise-added", {
                detail: "",
                bubbles: true,
                cancelable: true,
            })
            document.dispatchEvent(event);
        }).catch((err) => {
            console.log("post err", err)
        })
    }

    addExerciseForm.addEventListener("submit", addExercise)

    const clickChange = (id) => {
        //working below with document. Sooo, do you need to get the
        //page element to dispatch event working. I though pushing it
        //on to document would bubble to this div
        const event = new CustomEvent('custom-page-event', {
            detail: "hello",
            bubbles: true,
            cancelable: true,
        })
        document.dispatchEvent(event)

        console.log("click id: ", id)
    }


    const dummyFunc = (e) => {
        console.log("event: ", e.detail)
    }

    const page = document.getElementById("exercise-page")
    document.addEventListener("custom-page-event", dummyFunc)

    swapContent("/api/partials/exercises", "exercise-list-container")
</script>
