{{ template "head.html" .}}
{{ template "nav.html" .}}
{{ template "form-input.html" }}
<div id="exercise-page" class="layout page-exercises">
    <div>
        You are at exercises
    </div>

    <h2>Add New Exercise</h2>
    <form id="add-exercise-form">
        <div class="mb-2" style="display: inline-flex;">
            <form-input name="name" placeholder="Enter An Exercise..." value=""></form-input>
            <button type="submit" class="btn-save ms-3">
                Save
            </button>
        </div>
    </form>

    <div id="exercise-list-container" />

</div>
{{ template "foot.html" .}}

<script>
    const addExerciseForm = document.getElementById("add-exercise-form")

    const addExercise = (e) => {
        e.preventDefault()
        const addExerciseForm = document.getElementById("add-exercise-form")
        PostForm("/api/exercises", addExerciseForm).then((res) => {
            //update list
            swapContent("/api/partials/exercises", "exercise-list-container")
        }).catch((err) => {
            console.log("post err", err)
        })
    }

    addExerciseForm.addEventListener("submit", addExercise)

    const clickChange = (id) => {
        //working below with document. Sooo, do you need to get the
        //page element to dispatch event working. I though pushing it
        //on to document would bubble to this div
        const event = new CustomEvent('custom-page-event', {
            detail: "hello",
            bubbles: true,
            cancelable: true,
        })
        document.dispatchEvent(event)

        console.log("click id: ", id)
    }


    const dummyFunc = (e) => {
        console.log("event: ", e.detail)
    }

    const page = document.getElementById("exercise-page")
    document.addEventListener("custom-page-event", dummyFunc)

    swapContent("/api/partials/exercises", "exercise-list-container")
</script>
