{{ template "head.html" .}} {{ template "nav.html" .}}
<div class="layout page-home">
  <div>You are home</div>
  <div class="boxes">
    <div class="box bg-primary">0</div>
    <div class="box bg-primary-100">100</div>
    <div class="box bg-primary-200">200</div>
    <div class="box bg-primary-300">300</div>
    <div class="box bg-primary-400">400</div>
    <div class="box bg-primary-500">500</div>
    <div class="box bg-primary-600">600</div>
    <div class="box bg-primary-700">700</div>
    <div class="box bg-primary-800">800</div>
    <div class="box bg-primary-900">900</div>
  </div>
  <div class="boxes mt-4">
    <div class="box bg-secondary">0</div>
    <div class="box bg-secondary-100">100</div>
    <div class="box bg-secondary-200">200</div>
    <div class="box bg-secondary-300">300</div>
    <div class="box bg-secondary-400">400</div>
    <div class="box bg-secondary-500">500</div>
    <div class="box bg-secondary-600">600</div>
    <div class="box bg-secondary-700">700</div>
    <div class="box bg-secondary-800">800</div>
    <div class="box bg-secondary-900">900</div>
  </div>
  <div class="boxes mt-4">
    <div class="box bg-dark">0</div>
    <div class="box bg-med">100</div>
    <div class="box bg-med-light">200</div>
  </div>
</div>
{{ template "foot.html" .}}
