{{ template "head.html" .}}
{{ template "nav.html" .}}
<div id="widget-page" class="layout page-widgets">
    <div>
        You are at widgets
    </div>
    <img src="/static/images/image02.jpg" />

    <button type="button" onclick="clickChange('abra')">Change em</button>

    <div id='widget-list-container' />

    <script>
        const clickChange = (id) => {
            //working below with document. Sooo, do you need to get the 
            //page element to dispatch event working. I though pushing it
            //on to document would bubble to this div
            const event = new CustomEvent('custom-page-event', {
                detail: "hello",
                bubbles: true,
                cancelable: true,
            })
            document.dispatchEvent(event)

            console.log("click id: ", id)
            //swapContent("/api/partials/widgets/b", "widget-list-container")
        }    

        const dummyFunc = (e) => {
            console.log("event: ", e.detail)
        }

        const page = document.getElementById("widget-page")
        document.addEventListener("custom-page-event", dummyFunc)

        swapContent("/api/partials/widgets/a", "widget-list-container")
    </script>
</div>
{{ template "foot.html" .}}
