@import "/static/css/theme.css";

/* element styles */
body, input, textarea, button {
    font-family: sans-serif;
    font-size: 18px;
}

body {
    background-color: var(--med-100);
    color: var(--dark);
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

input {
    background-color: var(--light);
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border: 2px solid var(--dark-300);
    border-radius: 0.25rem;
}

input:focus {
    outline: none;
    border-color: var(--dark-400);
    background-color: oklch(from var(--light) l calc(c + 0.04) h);
}

input::placeholder {
    color: oklch(from var(--primary) calc(l + 0.08) c h);
}

select {
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border: 1px solid var(--light);
    border-radius: 0.25rem;
}

button {
    color: var(--dark);
    padding: 0.5rem;
    background-color: var(--primary);
    border: none;
    border-radius: 0.375rem;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: oklch(from var(--primary) calc(l - 0.08) c h);
}

/* end element styles */

.btn-secondary {
    background-color: var(--secondary);
}

.btn-secondary:hover {
    background-color: oklch(from var(--secondary) calc(l - 0.08) c h);
}

.btn-save {
    background-color: var(--secondary);
}

.btn-save:hover {
    background-color: oklch(from var(--secondary) calc(l - 0.08) c h);
}

.btn-delete {
    color: var(--secondary);
    background-color: var(--dark);
}

.btn-delete:hover {
    background-color: oklch(from var(--dark) calc(l + 0.08) c h);
}

.layout {
    padding: 1.0rem;
    height: 500px;
}

.boxes {
    display: flex;
}

.box {
    height: 50px;
    width: 50px;
}

.page-home {
    background-color: #e6e6e6;
}

.page-exercises {
    background-color: var(--med-200);
}


/* Turn cross-document view-transitions on */
/* Note that this at-rule is all that is needed to create the default cross-fade animation  */

@view-transition {
    navigation: auto;
}

/* Customize the default animation behavior */

/*
::view-transition-group(root) {
    animation-duration: 0.5s;
}
*/

/* Create a custom animation */

@keyframes move-out {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes move-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* Apply the custom animation to the old and new page states */

/*
::view-transition-old(root) {
    animation: 0.4s ease-in both move-out;

}

::view-transition-new(root) {
    animation: 0.4s ease-in both move-in;
}
*/
