@import "/static/css/theme.css";

.layout {
    padding: 1.0rem;
    height: 500px;
}

.boxes {
    display: flex;
}

.box {
    height: 50px;
    width: 50px;
}

.page-home {
    background-color: #e6e6e6;
}

.page-widgets {
    background-color: #b3b3b3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Turn cross-document view-transitions on */
/* Note that this at-rule is all that is needed to create the default cross-fade animation  */

@view-transition {
    navigation: auto;
}

/* Customize the default animation behavior */

/*
::view-transition-group(root) {
    animation-duration: 0.5s;
}
*/

/* Create a custom animation */

@keyframes move-out {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes move-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* Apply the custom animation to the old and new page states */

/*
::view-transition-old(root) {
    animation: 0.4s ease-in both move-out;

}

::view-transition-new(root) {
    animation: 0.4s ease-in both move-in;
}
*/
