@import "/static/css/theme.css";

/* element styles */
/*html, body, input, textarea, button {*/
* {
    font-family: sans-serif;
    font-size: 18px;
}

body {
    background-color: var(--dark);
    color: var(--med-light);
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

/* shadow dom */
form-input::part(input-field) {
    font-size: inherit;
    background-color: var(--light);
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border: 2px solid var(--dark);
    border-radius: 0.25rem;
}

form-input::part(input-field):focus {
    outline: none;
    border-color: var(--dark);
    background-color: oklch(from var(--light) l calc(c + 0.04) h);
}

form-input::part(input-field)::placeholder {
    /*color: oklch(from var(--primary) calc(l + 0.08) c h);*/
    color: oklch(from var(--med) calc(l + 0.08) c h);
}

input {
    background-color: var(--light);
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border: 2px solid var(--dark);
    border-radius: 0.25rem;
}

input:focus {
    outline: none;
    border-color: var(--dark);
    background-color: oklch(from var(--light) l calc(c + 0.04) h);
}

input::placeholder {
    color: oklch(from var(--primary) calc(l + 0.08) c h);
}

select {
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border: 1px solid var(--light);
    border-radius: 0.25rem;
}

button {
    color: var(--dark);
    padding: 0.5rem;
    background-color: var(--primary);
    border: none;
    border-radius: 0.375rem;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: oklch(from var(--primary) calc(l - 0.08) c h);
}

/* end element styles */

/* buttons --------------------------------------------- */
.btn-secondary {
    background-color: var(--secondary);
}

.btn-secondary:hover {
    background-color: oklch(from var(--secondary) calc(l - 0.08) c h);
}

.btn-save {
    background-color: var(--primary);
}

.btn-save:hover {
    background-color: oklch(from var(--primary) calc(l - 0.08) c h);
}

.btn-delete {
    color: var(--med-light);
    background-color: var(--dark);
}

.btn-delete:hover {
    background-color: oklch(from var(--dark) calc(l + 0.08) c h);
}

.btn-edit {
    color: var(--dark);
    background-color: var(--med);
}

.btn-edit:hover {
    background-color: oklch(from var(--med) calc(l + 0.08) c h);
}

.layout {
    padding: 1.0rem;
    height: 500px;
}

.boxes {
    display: flex;
}

.box {
    height: 50px;
    width: 50px;
}

/* pages --------------------------------------------- */

.page-home {
    background-color: var(--light);
}

.page-exercises {
    background-color: var(--dark);
}

/* widgets --------------------------------------------- */

.exercise-list {
    ul li {
        display: flex;
        align-items: center;
        margin: var(--spacing-2) auto;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.highlighted {
            /*background-color: oklch(from var(--light) l c h / 0.25);*/
        }
    }

    & .item-name {
        flex: 1 0 auto;
        color: var(--dark);

        &.show {
            display: block;
        }

        &.hide {
            display: none;
        }
    }

    & .item-name-edit {
        flex: 1 0 auto;

        &.show {
            background-color: oklch(from var(--light) l c h / 0.25);
            display: block;
        }

        &.hide {
            display: none;
        }
    }

    & .item-buttons.show {
        display: block;
        flex: 0 1 auto;
    }

    & .item-buttons.hide {
        display: none;
        flex: 0 1 auto;
    }

    & .item-edit-buttons.show {
        display: block;
        flex: 0 1 auto;
    }

    & .item-edit-buttons.hide {
        display: none;
        flex: 0 1 auto;
    }
}

/* Turn cross-document view-transitions on */
/* Note that this at-rule is all that is needed to create the default cross-fade animation  */

@view-transition {
    navigation: auto;
}

/* Customize the default animation behavior */

/*
::view-transition-group(root) {
    animation-duration: 0.5s;
}
*/

/* Create a custom animation */

@keyframes move-out {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes move-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* Apply the custom animation to the old and new page states */

/*
::view-transition-old(root) {
    animation: 0.4s ease-in both move-out;

}

::view-transition-new(root) {
    animation: 0.4s ease-in both move-in;
}
*/
