:root {
    --primary: #FF0000;
    --secondary: #282FFF;
    --info: #00D1D8;
    --light: #FFFFFF;
    --med: #CCCCCC;
    --dark: #2E2E2E;

    --primary-100: oklch(from var(--primary) calc(l + 0.35) c h);
    --primary-200: oklch(from var(--primary) calc(l + 0.25) c h);
    --primary-300: oklch(from var(--primary) calc(l + 0.15) c h);
    --primary-400: oklch(from var(--primary) calc(l + 0.05) c h);
    --primary-500: var(--primary);
    --primary-600: oklch(from var(--primary) calc(l - 0.05) c h);
    --primary-700: oklch(from var(--primary) calc(l - 0.15) c h);
    --primary-800: oklch(from var(--primary) calc(l - 0.25) c h);
    --primary-900: oklch(from var(--primary) calc(l - 0.35) c h);

    --secondary-100: oklch(from var(--secondary) calc(l + 0.35) c h);
    --secondary-200: oklch(from var(--secondary) calc(l + 0.25) c h);
    --secondary-300: oklch(from var(--secondary) calc(l + 0.15) c h);
    --secondary-400: oklch(from var(--secondary) calc(l + 0.05) c h);
    --secondary-500: var(--secondary);
    --secondary-600: oklch(from var(--secondary) calc(l - 0.05) c h);
    --secondary-700: oklch(from var(--secondary) calc(l - 0.15) c h);
    --secondary-800: oklch(from var(--secondary) calc(l - 0.25) c h);
    --secondary-900: oklch(from var(--secondary) calc(l - 0.35) c h);

    --info-100: oklch(from var(--info) calc(l + 0.35) c h);
    --info-200: oklch(from var(--info) calc(l + 0.25) c h);
    --info-300: oklch(from var(--info) calc(l + 0.15) c h);
    --info-400: oklch(from var(--info) calc(l + 0.05) c h);
    --info-500: var(--info);
    --info-600: oklch(from var(--info) calc(l - 0.05) c h);
    --info-700: oklch(from var(--info) calc(l - 0.15) c h);
    --info-800: oklch(from var(--info) calc(l - 0.25) c h);
    --info-900: oklch(from var(--info) calc(l - 0.35) c h);

    --light-100: oklch(from var(--light) calc(l + 0.35) c h);
    --light-200: oklch(from var(--light) calc(l + 0.25) c h);
    --light-300: oklch(from var(--light) calc(l + 0.15) c h);
    --light-400: oklch(from var(--light) calc(l + 0.05) c h);
    --light-500: var(--light);
    --light-600: oklch(from var(--light) calc(l - 0.05) c h);
    --light-700: oklch(from var(--light) calc(l - 0.15) c h);
    --light-800: oklch(from var(--light) calc(l - 0.25) c h);
    --light-900: oklch(from var(--light) calc(l - 0.35) c h);

    --med-100: oklch(from var(--med) calc(l + 0.35) c h);
    --med-200: oklch(from var(--med) calc(l + 0.25) c h);
    --med-300: oklch(from var(--med) calc(l + 0.15) c h);
    --med-400: oklch(from var(--med) calc(l + 0.05) c h);
    --med-500: var(--med);
    --med-600: oklch(from var(--med) calc(l - 0.05) c h);
    --med-700: oklch(from var(--med) calc(l - 0.15) c h);
    --med-800: oklch(from var(--med) calc(l - 0.25) c h);
    --med-900: oklch(from var(--med) calc(l - 0.35) c h);

    --dark-100: oklch(from var(--dark) calc(l + 0.35) c h);
    --dark-200: oklch(from var(--dark) calc(l + 0.25) c h);
    --dark-300: oklch(from var(--dark) calc(l + 0.15) c h);
    --dark-400: oklch(from var(--dark) calc(l + 0.05) c h);
    --dark-500: var(--dark);
    --dark-600: oklch(from var(--dark) calc(l - 0.05) c h);
    --dark-700: oklch(from var(--dark) calc(l - 0.15) c h);
    --dark-800: oklch(from var(--dark) calc(l - 0.25) c h);
    --dark-900: oklch(from var(--dark) calc(l - 0.35) c h);

    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 1.0rem;
    --spacing-4: 1.5rem;
    --spacing-5: 2.0rem;
    --spacing-6: 2.5rem;
}

.bg-primary {
    background-color: var(--primary);
}

.bg-primary-100 {
    background-color: var(--primary-100);
}

.bg-primary-200 {
    background-color: var(--primary-200);
}

.bg-primary-300 {
    background-color: var(--primary-300);
}

.bg-primary-400 {
    background-color: var(--primary-400);
}

.bg-primary-500 {
    background-color: var(--primary-500);
}

.bg-primary-600 {
    background-color: var(--primary-600);
}

.bg-primary-700 {
    background-color: var(--primary-700);
}

.bg-primary-800 {
    background-color: var(--primary-800);
}

.bg-primary-900 {
    background-color: var(--primary-900);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-secondary-100 {
    background-color: var(--secondary-100);
}

.bg-secondary-200 {
    background-color: var(--secondary-200);
}

.bg-secondary-300 {
    background-color: var(--secondary-300);
}

.bg-secondary-400 {
    background-color: var(--secondary-400);
}

.bg-secondary-500 {
    background-color: var(--secondary-500);
}

.bg-secondary-600 {
    background-color: var(--secondary-600);
}

.bg-secondary-700 {
    background-color: var(--secondary-700);
}

.bg-secondary-800 {
    background-color: var(--secondary-800);
}

.bg-secondary-900 {
    background-color: var(--secondary-900);
}

.bg-info {
    background-color: var(--info);
}

.bg-info-100 {
    background-color: var(--info-100);
}

.bg-info-200 {
    background-color: var(--info-200);
}

.bg-info-300 {
    background-color: var(--info-300);
}

.bg-info-400 {
    background-color: var(--info-400);
}

.bg-info-500 {
    background-color: var(--info-500);
}

.bg-info-600 {
    background-color: var(--info-600);
}

.bg-info-700 {
    background-color: var(--info-700);
}

.bg-info-800 {
    background-color: var(--info-800);
}

.bg-info-900 {
    background-color: var(--info-900);
}

.bg-light {
    background-color: var(--light);
}

.bg-light-100 {
    background-color: var(--light-100);
}

.bg-light-200 {
    background-color: var(--light-200);
}

.bg-light-300 {
    background-color: var(--light-300);
}

.bg-light-400 {
    background-color: var(--light-400);
}

.bg-light-500 {
    background-color: var(--light-500);
}

.bg-light-600 {
    background-color: var(--light-600);
}

.bg-light-700 {
    background-color: var(--light-700);
}

.bg-light-800 {
    background-color: var(--light-800);
}

.bg-light-900 {
    background-color: var(--light-900);
}

.bg-med {
    background-color: var(--med);
}

.bg-med-100 {
    background-color: var(--med-100);
}

.bg-med-200 {
    background-color: var(--med-200);
}

.bg-med-300 {
    background-color: var(--med-300);
}

.bg-med-400 {
    background-color: var(--med-400);
}

.bg-med-500 {
    background-color: var(--med-500);
}

.bg-med-600 {
    background-color: var(--med-600);
}

.bg-med-700 {
    background-color: var(--med-700);
}

.bg-med-800 {
    background-color: var(--med-800);
}

.bg-med-900 {
    background-color: var(--med-900);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-dark-100 {
    background-color: var(--dark-100);
}

.bg-dark-200 {
    background-color: var(--dark-200);
}

.bg-dark-300 {
    background-color: var(--dark-300);
}

.bg-dark-400 {
    background-color: var(--dark-400);
}

.bg-dark-500 {
    background-color: var(--dark-500);
}

.bg-dark-600 {
    background-color: var(--dark-600);
}

.bg-dark-700 {
    background-color: var(--dark-700);
}

.bg-dark-800 {
    background-color: var(--dark-800);
}

.bg-dark-900 {
    background-color: var(--dark-900);
}

.text-primary {
    color: var(--primary);
}

.text-primary-100 {
    color: var(--primary-100);
}

.text-primary-200 {
    color: var(--primary-200);
}

.text-primary-300 {
    color: var(--primary-300);
}

.text-primary-400 {
    color: var(--primary-400);
}

.text-primary-500 {
    color: var(--primary-500);
}

.text-primary-600 {
    color: var(--primary-600);
}

.text-primary-700 {
    color: var(--primary-700);
}

.text-primary-800 {
    color: var(--primary-800);
}

.text-primary-900 {
    color: var(--primary-900);
}

.text-secondary {
    color: var(--secondary);
}

.text-secondary-100 {
    color: var(--secondary-100);
}

.text-secondary-200 {
    color: var(--secondary-200);
}

.text-secondary-300 {
    color: var(--secondary-300);
}

.text-secondary-400 {
    color: var(--secondary-400);
}

.text-secondary-500 {
    color: var(--secondary-500);
}

.text-secondary-600 {
    color: var(--secondary-600);
}

.text-secondary-700 {
    color: var(--secondary-700);
}

.text-secondary-800 {
    color: var(--secondary-800);
}

.text-secondary-900 {
    color: var(--secondary-900);
}

.text-info {
    color: var(--info);
}

.text-info-100 {
    color: var(--info-100);
}

.text-info-200 {
    color: var(--info-200);
}

.text-info-300 {
    color: var(--info-300);
}

.text-info-400 {
    color: var(--info-400);
}

.text-info-500 {
    color: var(--info-500);
}

.text-info-600 {
    color: var(--info-600);
}

.text-info-700 {
    color: var(--info-700);
}

.text-info-800 {
    color: var(--info-800);
}

.text-info-900 {
    color: var(--info-900);
}

.text-light {
    color: var(--light);
}

.text-light-100 {
    color: var(--light-100);
}

.text-light-200 {
    color: var(--light-200);
}

.text-light-300 {
    color: var(--light-300);
}

.text-light-400 {
    color: var(--light-400);
}

.text-light-500 {
    color: var(--light-500);
}

.text-light-600 {
    color: var(--light-600);
}

.text-light-700 {
    color: var(--light-700);
}

.text-light-800 {
    color: var(--light-800);
}

.text-light-900 {
    color: var(--light-900);
}

.text-med {
    color: var(--med);
}

.text-med-100 {
    color: var(--med-100);
}

.text-med-200 {
    color: var(--med-200);
}

.text-med-300 {
    color: var(--med-300);
}

.text-med-400 {
    color: var(--med-400);
}

.text-med-500 {
    color: var(--med-500);
}

.text-med-600 {
    color: var(--med-600);
}

.text-med-700 {
    color: var(--med-700);
}

.text-med-800 {
    color: var(--med-800);
}

.text-med-900 {
    color: var(--med-900);
}

.text-dark {
    color: var(--dark);
}

.text-dark-100 {
    color: var(--dark-100);
}

.text-dark-200 {
    color: var(--dark-200);
}

.text-dark-300 {
    color: var(--dark-300);
}

.text-dark-400 {
    color: var(--dark-400);
}

.text-dark-500 {
    color: var(--dark-500);
}

.text-dark-600 {
    color: var(--dark-600);
}

.text-dark-700 {
    color: var(--dark-700);
}

.text-dark-800 {
    color: var(--dark-800);
}

.text-dark-900 {
    color: var(--dark-900);
}

.border-primary {
    border-color: var(--primary);
}

.border-secondary {
    border-color: var(--secondary);
}

.border-info {
    border-color: var(--info);
}

.border-light {
    border-color: var(--light);
}

.border-med {
    border-color: var(--med);
}

.border-dark {
    border-color: var(--dark);
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 1.0rem;
}

.m-4 {
    margin: 1.5rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1.0rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1.0rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 0.25rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-3 {
    margin-left: 1.0rem;
}

.ml-4 {
    margin-left: 1.5rem;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 1.0rem;
}

.mr-4 {
    margin-right: 1.5rem;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 1.0rem;
}

.p-4 {
    padding: 1.5rem;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-3 {
    padding-top: 1.0rem;
}

.pt-4 {
    padding-top: 1.5rem;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-3 {
    padding-bottom: 1.0rem;
}

.pb-4 {
    padding-bottom: 1.5rem;
}

.pl-0 {
    padding-left: 0;
}

.pl-1 {
    padding-left: 0.25rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.pl-3 {
    padding-left: 1.0rem;
}

.pl-4 {
    padding-left: 1.5rem;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: 0.25rem;
}

.pr-2 {
    padding-right: 0.5rem;
}

.pr-3 {
    padding-right: 1.0rem;
}

.pr-4 {
    padding-right: 1.5rem;
}

.border-0 {
    border-width: none;
}

.border-1 {
    border-width: 1px;
}

.border-2 {
    border-width: 2px;
}

.border-3 {
    border-width: 3px;
}

.border-4 {
    border-width: 4px;
}

.border-5 {
    border-width: 5px;
}

.border-top-0 {
    border-top-width: none;
}

.border-top-1 {
    border-top-width: 1px;
}

.border-top-2 {
    border-top-width: 2px;
}

.border-top-3 {
    border-top-width: 3px;
}

.border-top-4 {
    border-top-width: 4px;
}

.border-top-5 {
    border-top-width: 5px;
}

.border-bottom-0 {
    border-bottom-width: none;
}

.border-bottom-1 {
    border-bottom-width: 1px;
}

.border-bottom-2 {
    border-bottom-width: 2px;
}

.border-bottom-3 {
    border-bottom-width: 3px;
}

.border-bottom-4 {
    border-bottom-width: 4px;
}

.border-bottom-5 {
    border-bottom-width: 5px;
}

.border-left-0 {
    border-left-width: none;
}

.border-left-1 {
    border-left-width: 1px;
}

.border-left-2 {
    border-left-width: 2px;
}

.border-left-3 {
    border-left-width: 3px;
}

.border-left-4 {
    border-left-width: 4px;
}

.border-left-5 {
    border-left-width: 5px;
}

.border-right-0 {
    border-right-width: none;
}

.border-right-1 {
    border-right-width: 1px;
}

.border-right-2 {
    border-right-width: 2px;
}

.border-right-3 {
    border-right-width: 3px;
}

.border-right-4 {
    border-right-width: 4px;
}

.border-right-5 {
    border-right-width: 5px;
}
