<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{.Title}}</title>
        <link href="/static/css/main.css" rel="stylesheet">
        <!-- load these first -->
        <script src="/static/js/main.js"></script>
        <script type="module" src="/static/js/handlers.js"></script>
        <script type="module" src="/static/js/request.js"></script>
        <script type="module" src="/static/js/swap.js"></script>
        <!-- web components -->
        <script type="module" src="/static/components/partial-loader.js" defer></script>
        <script type="module" src="/static/components/save-indicator.js" defer></script>
        <script type="module" src="/static/components/svg-icon.js" defer></script>
        <script type="module" src="/static/components/form-input.js" defer></script>
        <script type="module" src="/static/components/select-exercise.js" defer></script>
        <script type="module" src="/static/components/workout-movement.js" defer></script>

        <!-- extracted js -->
        {{ range .Js}}
        <script type="module" src="{{.}}" defer></script>
        {{end}}

        <!-- global event bus, etc. -->
        <script type="module" src="/static/js/extracted/handlers.js" defer></script>
    </head>

    <body>

