<div class="nav-wrapper">
    <div class="nav">
        <div class="logo-container">
            <div class="logo-text">
                <span class="text-med">TRAIN</span><span class="text-primary">TRACK</span>
            </div>
        </div>
        <div class="links">
            <ul>
                <li>
                    <button id="nav-workouts" type="button" data-change-page="/workouts">Workouts</button>
                </li>
                <li>
                    <button id="nav-exercises" type="button" data-change-page="/exercises">Exercises</button>
                </li>
            </ul>
        </div>
    </div>
</div>
